{% extends 'main/base.html' %}
{% block title %}Мониторинг{% endblock %}
{% block content %}
    <h1>Мониторинг</h1>

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium consectetur corporis
        dignissimos dolor dolores eius, facilis illum ipsum iste minima neque nihil optio quo reprehenderit, saepe sunt
        vitae voluptas!
    </div>
    <div>Accusamus ad assumenda consectetur delectus deserunt, dicta explicabo fuga illo numquam odio quaerat
        repudiandae, tempora voluptas! Asperiores commodi debitis, doloribus eius id illum molestias nemo perspiciatis
        quia saepe similique vel!
    </div>
    <div>Accusantium blanditiis commodi debitis delectus dolorum ea fugiat ipsam laboriosam magnam mollitia, nihil
        nulla, numquam officiis omnis quia quisquam repellat repellendus sed suscipit temporibus. Consequatur cupiditate
        debitis maxime reprehenderit ullam!
    </div>
    <div>Aperiam consequuntur dolor id impedit maiores vitae. Ab asperiores at beatae consequatur, dicta eaque esse
        fugit, labore magnam magni maiores mollitia odio pariatur porro possimus quasi sint sunt suscipit voluptas?
    </div>
{% endblock %}